# Dependencies
node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Build output
.next
out
dist
build

# Git and IDE
.git
.gitignore
.dockerignore
*.md
.env*.local
.vscode
.idea

# Misc
.DS_Store
*.pem
